*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}

.wrapper{

    width:70%;
    height:100vh;
    margin-left: 15%;
    margin-right:15%;
    margin-top: 2%;
   

}
.content{
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows:10% repeat(3,1fr);
    row-gap: 3%;
    column-gap: 2%;
   

}

.box1{
    grid-column-start:1;
    grid-column-end: 3;
  
}
.box{
    
    border: 3px solid rgba(199, 194, 194, 0.883);
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.title{
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
    font-weight:900;
    margin-left: -6%;
}

.subscribe{
    color: grey;
    font-weight:500;
    font-size: 1.1rem;
    
}

.innerContent{
   padding: 5%;
  
}
.type{
   color: rgb(68, 229, 68); 
   font-size: 1.1rem;
   font-weight: bold;
   margin-bottom: 3%;
   
}
.heading{
    font-size: 1.6rem;
}
.date{
    font-size: small;
    color: grey;
    margin-bottom: 2%;
}
.link{
    margin-top: 3%;
}




